---
interface Props {
	id?: string;
	class?: string;
}

const { id, class: className } = Astro.props;
---

<section id={id} class:list={["page-section", className]}>
	<div class="section-content">
		<slot />
	</div>
</section>
