---
interface Props {
	title: string;
	class?: string;
}

const { title, class: className } = Astro.props;
---

<section class={className}>
	<h2>{title}</h2>
	<slot />
</section>

<style>
	section {
		margin-bottom: 3.5rem;
	}

	h2 {
		font-size: 1.25rem;
		font-weight: 600;
		margin-bottom: 1.5rem;
		letter-spacing: -0.01em;
	}
</style>
